html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 100px;
}

.word-footer {
    border-top: solid 1px #808080;
    background: #F5F5F5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    padding: 10px 25px;
}

.word-wrapper {
    position: relative;
    min-height: 100%;
    padding: 70px 25px 120px;
}

.word-title {
    text-align: center;
}

.word-uppercase {
    text-transform: uppercase;
}

.word-general-loader {
    position: fixed;
    z-index: 99;
    margin: 0;
}

.word-loader-wrapper {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 128, 128);
    opacity: 0.8;
    height: 100vh;
    width: 100vw;
}

.word-loader-body {
    text-align: center;
    transform: translateY(30vh);
}

.word-loader-body > img {
    height: 40vh;
    width: 40vh;
}

.word-main-menu {
    text-align: center;
    display: block;
}

.word-main-menu>button {
    margin: 10px 0px;
    text-align: center;
}
